@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to bottom right, #7f1d1d, #0f172a);
  color: white;
}
